.comments-container > div {
    margin-bottom: 8px;
}

.comments-container div > div {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.comments-container h6, .comments-container p {
    margin: 0;
    font-size: 14px;
}

.userco-info img {
    width: 24px; 
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.comments-container input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.comments-container {
    max-height: 200px;
    overflow-y: auto;  
    padding: 8px;
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.co-info {
    margin-right: 50%;
    flex-direction: column;
    width: 100%;
    border: 1px solid red;
}
.co-info img{
    width: 80%; 
    border-radius: 0;
    margin-right: 8px;
}
.del-rep {
    justify-content: space-around;
}
.del-rep h5 {
    cursor: pointer;
    margin-right: 8px;
}

/* Style the reply and delete actions in the comment on hover */
.del-rep h5:hover {
    text-decoration: underline;
}