 .friends-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .friends-item {
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
    
  .friends-item img {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(12, 112, 162);
    margin-bottom: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .friends-item h3 {
    margin: 0;
  }
  
.friends-item img {
    background-color: #ccc;
}

.friends-name {
  display: flex;
  align-items: center;

}
.delete-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  
  }
  
.delete-button:hover {
    color: #cc0000;
  }
  
.new-friends-list {
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-friends-list img {
    border-radius: 20px;
  }
  
.new-friends-list p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
.new-friends-list button {
  background-color: rgb(15, 93, 161);
  border: none;
  border-radius: 10px;
  padding: 4px 8px;
  color: #ccc;
  height: 25px;
  cursor: pointer;
  }
  