.confirmation-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  border: 1px solid #d8d8d8;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
 }
 
 .confirmation-dialog h1 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
 }
 
 .confirmation-dialog button {
  background-color: #2e86c1;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
 }
 
 .confirmation-dialog button:hover {
  background-color: #2471a3;
 }
 .logoutImage{
  width: 300px;
  height: 100px;
 }
.imgimgLogout{
  width: 50px;
  margin-top: 250px;
}