/* post.css */
.home {
    display: flex;
}

.navbar-content {
    height: 500px;
    width: 20%;
    margin-left: 20px;
    margin-top: 70px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.userInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid rgb(22, 156, 239);
    border-radius: 20px;
    width: 100%;

}

.userInfo img {
    width: 60px;
    border: 3px solid rgb(22, 156, 239);
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgb(22, 156, 239); ;
    overflow: hidden;
}
.navbar-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; 
    width: 100%;
    height: 100%;
    border: 2px solid rgb(22, 156, 239);
    border-radius: 20px;
    
  }
  
.navbar-link {
    text-decoration: none;
    color: #333; 
    margin: 20px 0;
    border: 1px solid blue;
}

.line {
    width: 90%;
    border-bottom: 1px solid green;
  }

.main-container {
    margin-top: 40px;
    width: 60%;
    margin: 16px auto;
    margin-left: 300px;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.user-info-container {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
}

.user-info-container h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.user-info-container div {
    color: #888;
}

.post-content-container {
    margin-top: 16px;
}

.poContent h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.post-content-container img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 16px auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.actions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    border-top: 1px solid #ddd;
    padding-top: 8px;
}

.actions-container svg {
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease;
}

.actions-container svg:hover {
    color: #3498db;
}

.comments-container {
    margin-top: 16px;
}

.comments-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Add more styles as needed */
