 .fr-side-container {
    border: 2px solid red;
    border-radius: 5px;
    height: auto;
    width: 20%;
    margin-top: 70px;
    right: 10px;
    position:fixed ;
}

.ff {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .user-image {
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    margin-right: 50px;
  }
  
  .user-details {
    flex-direction: column;
  }
  

  