.App {
  text-align: center;
}

header {
  background-color: #333;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav-links {
  display: flex;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
}

.active-link {
  border-bottom: 2px solid white;
}
